<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>getStudentsByname</servlet-name>
        <servlet-class>web.getStudentsByname</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllStudents</servlet-name>
        <servlet-class>web.getAllStudents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudent</servlet-name>
        <servlet-class>web.AddStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Actions</servlet-name>
        <servlet-class>web.Actions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudent</servlet-name>
        <servlet-class>web.UpdateStudent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getStudentsByname</servlet-name>
        <url-pattern>/getStudentsByname</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllStudents</servlet-name>
        <url-pattern>/getAllStudents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudent</servlet-name>
        <url-pattern>/AddStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Actions</servlet-name>
        <url-pattern>/Actions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudent</servlet-name>
        <url-pattern>/UpdateStudent</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>EtudiantVue.jsp</welcome-file>
    </welcome-file-list>
</web-app>
